@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap");

/* testimonials css */

.cd__main {
  background: #e2d2d2;
  padding: 20px;
}

.testimonial-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiperCarousel {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}




.swiper-slide {
  width: 100%;
  max-width: 600px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.cardi {
  background-color: #f9fafe;
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #f9fafe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heade {
  margin: 20px 0 0 0;
  text-align: center;
}

.name {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
  color: #312c2c;
}

.title {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: #7ccdc5;
}

.quote-container {
  margin: 0;
  text-align: center;
  max-width: 100%;

}

.quote {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiper-pagination {
  /* position: static; */
  margin-top: 20px;
}



@media (min-width: 769px) {

  .swiper-slide {
    padding: 15px;
  }

  .name {
    font-size: 18px;
  }

  .title {
    font-size: 12px;
  }

  .active .cardi {
    opacity: 1;
    transform: scale(1.1);
  }

  /* Inactive card fade-in effect */
  .swiper-slide:not(.swiper-slide-active) .cardi {
    opacity: 0.5;
    transform: scale(0.9);
  }



  .swiper-slide-active {
    z-index: 1;
  }

  .swiper-slide-active .cardi {
    box-shadow: 0 8px 30px -7px #c9dff0;
    opacity: 1;
    transform: scale(1.1);
  }
}





@media (max-width: 768px) {
  .swiper-slide {
    padding: 15px;
  }

  .name {
    font-size: 18px;
  }

  .title {
    font-size: 12px;
  }

  .active .cardi {
    opacity: 1;
    transform: scale(1.1);
  }

  /* Inactive card fade-in effect */
  .swiper-slide:not(.swiper-slide-active) .cardi {
    opacity: 0.5;
    transform: scale(0.9);
  }



  .swiper-slide-active {
    z-index: 1;
  }

  .swiper-slide-active .cardi {
    box-shadow: 0 8px 30px -7px #c9dff0;
    opacity: 1;
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    padding: 10px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }



  .name {
    font-size: 16px;
  }

  .title {
    font-size: 10px;
  }


  .swiper-slide:not(.swiper-slide-active) .cardi {
    opacity: 1;
    /* Change opacity to 1 for screens <= 480px */
    transform: scale(1);
    /* Reset the transform for screens <= 480px */
  }
}
